*{
  margin:0;
  padding:0;
  font-family: 'Inconsolata', monospace;
}

.body_dark{
  font-display: optional;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}

.body_light{
  font-display: optional;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}